body {
    background-color: var(--bcl);
    margin: 0;
}

    :root {
      --pc: #3498db; /* Blue */
      --sc: #2ecc71; /* Green */
      --ac: #e74c3c; /* Red */
      --tcd: #333;
      --tcl: #fff;
      --bcl: #f8f8f8;
      --bcd: #2c3e50;
    }


@font-face {
    font-family: montserrat;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}

*{
    font-family: montserrat;
}

@media only screen and (max-width: 600px) {

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5vw;
    padding: 0;
    width: 50vw;
    
}

.content {

    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 500px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links img {
    width: 50vw;
}
.links img:hover{
    filter: brightness(0.8);
}

.links button {
    margin: 1vw;
}

a {
    all: unset;
    color: var(--bcd);
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}



footer {
    background-color: var(--bcd);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

footer h3 {
    color: white;
}
}
header {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.content {

    display: flex;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 500px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links img {
    width: 20vw;
}
.links img:hover{
    filter: brightness(0.8);
}

.links button {
    margin: 5vw;
}

a {
    all: unset;
    color: var(--bcd);
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}



footer {
    background-color: var(--bcd);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

footer h3 {
    color: white;
}

