/* ===== CSS Variables ===== */
:root {
    --pc: #3498db;
    --sc: #2ecc71;
    --ac: #e74c3c;
    --tcd: #333;
    --tcl: #fff;
    --bcl: #f8f8f8;
    --bcd: #2c3e50;
}

/* ===== Global Styles ===== */
@font-face {
    font-family: montserrat;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}

* {
    font-family: montserrat;
}

body {
    background-color: var(--bcl);
    margin: 0;
}

a {
    all: unset;
    color: var(--bcd);
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ===== Header ===== */
header {
    background-color: var(--bcd);
    height: 100px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.tittel {
    text-align: center;
    color: white;
    grid-column: 2;
}

.buttons {
    margin-right: 20px;
}

.language {
    display: flex;
    justify-content: flex-end;
    margin: 0 1vw;
    align-items: center;
}

.language p{
    color: white;
}

.language a,
.language button {
    margin-right: 2vw;
    width: 5vw;
}

.unsel {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.language button:hover {
    background-color: lightgrey;
}

.sel {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    background-color:var(--tcd);
    font-weight: bolder;
}


/* ===== Introduction ===== */
.intro {
    text-align: center;
    margin: 0 20%;
}

/* ===== Content & Links ===== */
.lenker{
    text-align: center;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

.content h1 {
    all: unset;
    color: var(--bcd);
    font-style: italic;
    cursor: pointer;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.links a {
    width: 35vw;
    display: flex;
    justify-content: center;
    margin: 2vw;
}

.links h1 {
    font-size: 2vw;
}

.links button {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 5vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vw;
    width: 35vw;
    cursor: pointer;
}

.links button:hover {
    filter: brightness(0.9);
}

.links .logo {
    width: 10vw;
    margin-bottom: 30px;
}

.links .screenshot {
    width: 30vw;
    filter: drop-shadow(20px 20px 1px rgb(217, 223, 236));
}

/* ===== Footer ===== */
footer {
    background-color: var(--bcd);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

footer h3 {
    color: white;
}




