/* ===== CSS Variables ===== */
:root {
    --pc: #3498db;
    --sc: #2ecc71;
    --ac: #e74c3c;
    --tcd: #333;
    --tcl: #fff;
    --bcl: #f8f8f8;
    --bcd: #2c3e50;
    --bcm: #e7f0fa;
}

/* ===== Global Styles ===== */
@font-face {
    font-family: montserrat;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}

* {
    font-family: montserrat;
}

a {
    all: unset;
}

body {
    background-color: var(--bcl);
    margin: 0;
}

.contact-container a {
    all: unset;
    color: var(--bcd);
    font-style: italic;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* ===== Header ===== */
header {
    background-color: var(--bcd);
    height: 100px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.tittel {
    text-align: center;
    color: white;
    grid-column: 2;
}

.buttons {
    margin-right: 20px;
}

.language {
    display: flex;
    justify-content: flex-end;
    margin: 0 1vw;
    align-items: center;
}

.language p{
    color: white;
}

.language .lang {
    display: inline-block;
    margin-right: 2vw;
    padding: 0.25rem 0.6rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}

.language .lang:hover {
    background-color: lightgrey;
}

.language .unsel {
    background-color: transparent;
}

.language .sel {
    background-color: var(--tcd);
    color: var(--tcl);
    font-weight: bolder;
}

.intro {
    text-align: center;
    margin: 0 20%;
}

/* ===== Contact list (full-width rows with centered ':' column) ===== */
.contact-container {
    width: 100%;
    box-sizing: border-box;
    margin: 1.25rem 0;
}

.contact-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* left | sep(center) | right */
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    width: 100%;
}

.contact-row .left {
    justify-self: end;
    text-align: right;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    max-width: calc(50vw - 3rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact-row .icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-row .sep {
    text-align: center;
}

.contact-row .right {
    justify-self: start;
    text-align: left;
    max-width: calc(50vw - 3rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact-row a {
    color: var(--bcd);
    text-decoration: underline;
}

/* icons */
.contact-row.mail .icon { background-image: url('pictures/mail.ico'); }
.contact-row.oslo .icon { background-image: url('pictures/mail.ico'); }
.contact-row.phone .icon { background-image: url('pictures/phone.ico'); }

/*CONTENT*/

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cvcard img, .artcard img, .projectscard img {
    min-width: 33.33vw;
    min-height: 50vw;
    
    
}

.cvcard, .artcard, .projectscard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33vw;
    height: 50vw;
    overflow: hidden;
    padding: 0vw;
    filter: grayscale(100%) brightness(60%);
    background-color: var(--bcd);
    transition: filter 0.3s ease;
    will-change: filter;
}

.cvcard h3, .artcard h3, .projectscard h3{
    color: var(--tcl)
}

.cvcard:hover, .artcard:hover, .projectscard:hover{
    filter: grayscale(0%) brightness(100%);
}

.card-body {
    all: unset;
    text-decoration: none;
    color: var(--tcd);
    font-size: 2vw;
}

/* ===== Footer ===== */
footer {
    background-color: var(--bcd);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

footer h3 {
    color: white;
}
