body {
    background-color: var(--bcl);
    margin: 0;
}

    :root {
      --pc: #3498db; /* Blue */
      --sc: #2ecc71; /* Green */
      --ac: #e74c3c; /* Red */
      --tcd: #333;
      --tcl: #fff;
      --bcl: #f8f8f8;
      --bcd: #2c3e50;
    }


@font-face {
    font-family: montserrat;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}

*{
    font-family: montserrat;
}

header {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.content {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 5vw;
}
.links a {
    width: 40vw;
    display: flex;
    justify-content: center;
}

.links button {
    margin: 0vw;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 5vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 55vw;
    width: 35vw;
}


.links .screenshot {
    width: 30vw;
   
    filter: drop-shadow(20px 20px 1px  rgb(217, 223, 236));
}

.links .logo {
    width: 10vw;
    margin-bottom: 30px;
    
}



.content h1 {
    all: unset;
    color: var(--bcd);
    font-style: italic;
}

.content h1:hover {
    
    cursor: pointer;
}

.links button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.links h1 {
    font-size: 2vw;
}

a {
    all: unset;
    color: var(--bcd);
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}



footer {
    background-color: var(--bcd);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

footer h3 {
    color: white;
}

